---
import { storyblokEditable, renderRichText } from '@storyblok/astro';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---
<div class="hero" {...storyblokEditable(blok)}>
    {blok.title && <h1>{blok.title}</h1>}
    {blok.body && <div>{blok.body}</div>}
</div>


<style define:vars={{ imageSrc: blok.image }}>
    .hero {
        background-color: var(--contrastBackground);
        background-image: var(--imageSrc);
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40vh;
        width: 100%;
    }
    &:before {
        content: var(--imageSrc);
    }
</style>